In [9]:
import numpy as np
from scipy import stats
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.proportion import proportions_ztest

# 제출 과제 1

In [45]:
mpg = pd.read_csv("C:/Users/hyang/Downloads/1_datasets/mpg.csv")

In [46]:
mpg

,make,fuel-type,drive-wheels,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,bore,stroke,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,audi,gas,fwd,176.6,66.2,54.3,2337,ohc,four,109,3.19,3.40,102,5500,24,30,13950
1,audi,gas,4wd,176.6,66.4,54.3,2824,ohc,five,136,3.19,3.40,115,5500,18,22,17450
2,audi,gas,fwd,177.3,66.3,53.1,2507,ohc,five,136,3.19,3.40,110,5500,19,25,15250
3,audi,gas,fwd,192.7,71.4,55.7,2844,ohc,five,136,3.19,3.40,110,5500,19,25,17710
4,audi,gas,fwd,192.7,71.4,55.7,2954,ohc,five,136,3.19,3.40,110,5500,19,25,18920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,volvo,gas,rwd,188.8,68.9,55.5,2952,ohc,four,141,3.78,3.15,114,5400,23,28,16845
82,volvo,gas,rwd,188.8,68.8,55.5,3049,ohc,four,141,3.78,3.15,160,5300,19,25,19045
83,volvo,gas,rwd,188.8,68.9,55.5,3012,ohcv,six,173,3.58,2.87,134,5500,18,23,21485
84,volvo,diesel,rwd,188.8,68.9,55.5,3217,ohc,six,145,3.01,3.40,106,4800,26,27,22470
85,volvo,gas,rwd,188.8,68.9,55.5,3062,ohc,four,141,3.78,3.15,114,5400,19,25,22625

## 시내 mpg_구동 방식별(과제)

In [47]:
cty_mpg = mpg[['city-mpg', 'drive-wheels']]

In [49]:
cty_mpg.groupby('drive-wheels').describe()

             city-mpg
                count       mean       std   min    25%   50%   75%   max
drive-wheels
4wd               4.0  22.000000  5.830952  16.0  17.50  22.5  27.0  27.0
fwd              22.0  27.954545  5.907842  17.0  24.75  28.5  31.0  38.0
rwd              60.0  20.750000  4.119507  13.0  17.00  20.0  24.0  29.0

## 고속도로 mpg_구동 방식별(과제)

In [51]:
highway_mpg = mpg[['highway-mpg', 'drive-wheels']]
highway_mpg.groupby('drive-wheels').describe()

             highway-mpg
                   count       mean       std   min    25%   50%    75%   max
drive-wheels
4wd                  4.0  27.000000  5.773503  22.0  22.00  27.0  32.00  32.0
fwd                 22.0  33.772727  6.553311  20.0  31.25  34.0  37.00  47.0
rwd                 60.0  25.583333  4.315096  16.0  24.00  25.0  28.25  34.0

# 과제2

## 범주형 데이터 계산

## model별 mpg 계산

In [68]:
ds_mycars=pd.read_csv("C:/Users/hyang/Downloads/1_datasets/mycars.csv")
df = ds_mycars[['model', 'mpg']]

In [75]:
count = df['model'].value_counts().sort_index()

In [76]:
cumcnt=np.cumsum(count)

In [77]:
cumcnt

4runner 4wd                 6
a4                         13
a4 quattro                 21
a6 quattro                 24
altima                     30
c1500 suburban 2wd         35
camry                      42
camry solara               49
caravan 2wd                60
civic                      69
corolla                    74
corvette                   79
dakota pickup 4wd          88
durango 4wd                95
expedition 2wd             98
explorer 4wd              104
f150 pickup 4wd           111
forester awd              117
grand cherokee 4wd        125
grand prix                130
gti                       135
impreza awd               143
jetta                     152
k1500 tahoe 4wd           156
land cruiser wagon 4wd    158
malibu                    163
maxima                    166
mountaineer 4wd           170
mustang                   179
navigator 2wd             182
new beetle                188
passat                    195
pathfinder 4wd            199
ram 1500 pickup 4wd       209
range rover               213
sonata                    220
tiburon                   227
toyota tacoma 4wd         234
Name: model, dtype: int64

In [79]:
percent = count /sum(count) * 100

In [80]:
percent

4runner 4wd               2.564103
a4                        2.991453
a4 quattro                3.418803
a6 quattro                1.282051
altima                    2.564103
c1500 suburban 2wd        2.136752
camry                     2.991453
camry solara              2.991453
caravan 2wd               4.700855
civic                     3.846154
corolla                   2.136752
corvette                  2.136752
dakota pickup 4wd         3.846154
durango 4wd               2.991453
expedition 2wd            1.282051
explorer 4wd              2.564103
f150 pickup 4wd           2.991453
forester awd              2.564103
grand cherokee 4wd        3.418803
grand prix                2.136752
gti                       2.136752
impreza awd               3.418803
jetta                     3.846154
k1500 tahoe 4wd           1.709402
land cruiser wagon 4wd    0.854701
malibu                    2.136752
maxima                    1.282051
mountaineer 4wd           1.709402
mustang                   3.846154
navigator 2wd             1.282051
new beetle                2.564103
passat                    2.991453
pathfinder 4wd            1.709402
ram 1500 pickup 4wd       4.273504
range rover               1.709402
sonata                    2.991453
tiburon                   2.991453
toyota tacoma 4wd         2.991453
Name: model, dtype: float64

In [81]:
cumpct = np.cumsum(percent)

In [82]:
cumpct

4runner 4wd                 2.564103
a4                          5.555556
a4 quattro                  8.974359
a6 quattro                 10.256410
altima                     12.820513
c1500 suburban 2wd         14.957265
camry                      17.948718
camry solara               20.940171
caravan 2wd                25.641026
civic                      29.487179
corolla                    31.623932
corvette                   33.760684
dakota pickup 4wd          37.606838
durango 4wd                40.598291
expedition 2wd             41.880342
explorer 4wd               44.444444
f150 pickup 4wd            47.435897
forester awd               50.000000
grand cherokee 4wd         53.418803
grand prix                 55.555556
gti                        57.692308
impreza awd                61.111111
jetta                      64.957265
k1500 tahoe 4wd            66.666667
land cruiser wagon 4wd     67.521368
malibu                     69.658120
maxima                     70.940171
mountaineer 4wd            72.649573
mustang                    76.495726
navigator 2wd              77.777778
new beetle                 80.341880
passat                     83.333333
pathfinder 4wd             85.042735
ram 1500 pickup 4wd        89.316239
range rover                91.025641
sonata                     94.017094
tiburon                    97.008547
toyota tacoma 4wd         100.000000
Name: model, dtype: float64

In [83]:
count_data = pd.DataFrame({'Count' : count, 'CumCnt' : cumcnt, 'Percent' : percent, 'CumPct' : cumpct})

In [84]:
count_data

                        Count  CumCnt   Percent      CumPct
4runner 4wd                 6       6  2.564103    2.564103
a4                          7      13  2.991453    5.555556
a4 quattro                  8      21  3.418803    8.974359
a6 quattro                  3      24  1.282051   10.256410
altima                      6      30  2.564103   12.820513
c1500 suburban 2wd          5      35  2.136752   14.957265
camry                       7      42  2.991453   17.948718
camry solara                7      49  2.991453   20.940171
caravan 2wd                11      60  4.700855   25.641026
civic                       9      69  3.846154   29.487179
corolla                     5      74  2.136752   31.623932
corvette                    5      79  2.136752   33.760684
dakota pickup 4wd           9      88  3.846154   37.606838
durango 4wd                 7      95  2.991453   40.598291
expedition 2wd              3      98  1.282051   41.880342
explorer 4wd                6     104  2.564103   44.444444
f150 pickup 4wd             7     111  2.991453   47.435897
forester awd                6     117  2.564103   50.000000
grand cherokee 4wd          8     125  3.418803   53.418803
grand prix                  5     130  2.136752   55.555556
gti                         5     135  2.136752   57.692308
impreza awd                 8     143  3.418803   61.111111
jetta                       9     152  3.846154   64.957265
k1500 tahoe 4wd             4     156  1.709402   66.666667
land cruiser wagon 4wd      2     158  0.854701   67.521368
malibu                      5     163  2.136752   69.658120
maxima                      3     166  1.282051   70.940171
mountaineer 4wd             4     170  1.709402   72.649573
mustang                     9     179  3.846154   76.495726
navigator 2wd               3     182  1.282051   77.777778
new beetle                  6     188  2.564103   80.341880
passat                      7     195  2.991453   83.333333
pathfinder 4wd              4     199  1.709402   85.042735
ram 1500 pickup 4wd        10     209  4.273504   89.316239
range rover                 4     213  1.709402   91.025641
sonata                      7     220  2.991453   94.017094
tiburon                     7     227  2.991453   97.008547
toyota tacoma 4wd           7     234  2.991453  100.000000

In [74]:
df.groupby('model').count()

                        mpg
model
4runner 4wd               6
a4                        7
a4 quattro                8
a6 quattro                3
altima                    6
c1500 suburban 2wd        5
camry                     7
camry solara              7
caravan 2wd              11
civic                     9
corolla                   5
corvette                  5
dakota pickup 4wd         9
durango 4wd               7
expedition 2wd            3
explorer 4wd              6
f150 pickup 4wd           7
forester awd              6
grand cherokee 4wd        8
grand prix                5
gti                       5
impreza awd               8
jetta                     9
k1500 tahoe 4wd           4
land cruiser wagon 4wd    2
malibu                    5
maxima                    3
mountaineer 4wd           4
mustang                   9
navigator 2wd             3
new beetle                6
passat                    7
pathfinder 4wd            4
ram 1500 pickup 4wd      10
range rover               4
sonata                    7
tiburon                   7
toyota tacoma 4wd         7

In [10]:
ds_mycars=pd.read_csv("C:/Users/hyang/Downloads/1_datasets/mycars.csv",engine = "python") #지금은 engine 없어도 읽어옵니다.
ds_mycars.head()

,manufacturer,model,displacement,year,cylinder,automatic,driving,mpg,highway_mileage,fuel,class
0,audi,a4,1.8,1999,4,auto,f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual,f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual,f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto,f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto,f,16,26,p,compact

In [13]:
ds_mycars.describe().round(3)

       displacement     year  cylinder      mpg  highway_mileage
count       234.000   234.00   234.000  234.000          234.000
mean          3.472  2003.50     5.889   16.859           23.440
std           1.292     4.51     1.612    4.256            5.955
min           1.600  1999.00     4.000    9.000           12.000
25%           2.400  1999.00     4.000   14.000           18.000
50%           3.300  2003.50     6.000   17.000           24.000
75%           4.600  2008.00     8.000   19.000           27.000
max           7.000  2008.00     8.000   35.000           44.000

In [12]:
ds_mycars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   manufacturer     234 non-null    object
 1   model            234 non-null    object
 2   displacement     234 non-null    float64
 3   year             234 non-null    int64
 4   cylinder         234 non-null    int64
 5   automatic        234 non-null    object
 6   driving          234 non-null    object
 7   mpg              234 non-null    int64
 8   highway_mileage  234 non-null    int64
 9   fuel             234 non-null    object
 10  class            234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 20.2+ KB

In [43]:
#숙제 25page 입니다. 과제입니다!
df2 = ds_mycars[['mpg', 'driving']]

In [44]:
#숙제 25page 입니다. 과제입니다!
df2.groupby('driving').describe()

           mpg
         count       mean       std   min   25%   50%   75%   max
driving
4        103.0  14.330097  2.874459   9.0  13.0  14.0  16.0  21.0
f        106.0  19.971698  3.626510  11.0  18.0  19.0  21.0  35.0
r         25.0  14.080000  2.215852  11.0  12.0  15.0  15.0  18.0

시내에서 연비

In [15]:
df = ds_mycars[['model', 'mpg']] #대괄호를 1개만 주면 series로 바뀌어집니다.
df.groupby('model').describe()

                         mpg                                                 \
                       count       mean       std   min    25%   50%    75%
model
4runner 4wd              6.0  15.166667  0.752773  14.0  15.00  15.0  15.75
a4                       7.0  18.857143  1.864454  16.0  18.00  18.0  20.50
a4 quattro               8.0  17.125000  1.807722  15.0  15.75  17.0  18.25
a6 quattro               3.0  16.000000  1.000000  15.0  15.50  16.0  16.50
altima                   6.0  20.666667  1.966384  19.0  19.00  20.0  22.50
c1500 suburban 2wd       5.0  12.800000  1.303840  11.0  12.00  13.0  14.00
camry                    7.0  19.857143  1.463850  18.0  18.50  21.0  21.00
camry solara             7.0  19.857143  1.772811  18.0  18.00  21.0  21.00
caravan 2wd             11.0  15.818182  1.834022  11.0  15.50  16.0  17.00
civic                    9.0  24.444444  1.943651  21.0  24.00  24.0  25.00
corolla                  5.0  25.600000  1.673320  24.0  24.00  26.0  26.00
corvette                 5.0  15.400000  0.547723  15.0  15.00  15.0  16.00
dakota pickup 4wd        9.0  12.777778  1.986063   9.0  11.00  14.0  14.00
durango 4wd              7.0  11.857143  1.573592   9.0  11.00  13.0  13.00
expedition 2wd           3.0  11.333333  0.577350  11.0  11.00  11.0  11.50
explorer 4wd             6.0  13.666667  0.816497  13.0  13.00  13.5  14.00
f150 pickup 4wd          7.0  13.000000  1.000000  11.0  13.00  13.0  13.50
forester awd             6.0  18.833333  0.983192  18.0  18.00  18.5  19.75
grand cherokee 4wd       8.0  13.500000  2.507133   9.0  12.50  14.0  15.00
grand prix               5.0  17.000000  1.000000  16.0  16.00  17.0  18.00
gti                      5.0  20.000000  2.000000  17.0  19.00  21.0  21.00
impreza awd              8.0  19.625000  0.744024  19.0  19.00  19.5  20.00
jetta                    9.0  21.222222  4.867694  16.0  19.00  21.0  21.00
k1500 tahoe 4wd          4.0  12.500000  1.732051  11.0  11.00  12.5  14.00
land cruiser wagon 4wd   2.0  12.000000  1.414214  11.0  11.50  12.0  12.50
malibu                   5.0  18.800000  1.923538  17.0  18.00  18.0  19.00
maxima                   3.0  18.666667  0.577350  18.0  18.50  19.0  19.00
mountaineer 4wd          4.0  13.250000  0.500000  13.0  13.00  13.0  13.25
mustang                  9.0  15.888889  1.452966  14.0  15.00  15.0  17.00
navigator 2wd            3.0  11.333333  0.577350  11.0  11.00  11.0  11.50
new beetle               6.0  24.000000  6.511528  19.0  20.00  20.5  27.00
passat                   7.0  18.571429  1.902379  16.0  17.50  18.0  20.00
pathfinder 4wd           4.0  13.750000  1.258306  12.0  13.50  14.0  14.25
ram 1500 pickup 4wd     10.0  11.400000  1.505545   9.0  11.00  11.5  12.75
range rover              4.0  11.500000  0.577350  11.0  11.00  11.5  12.00
sonata                   7.0  19.000000  1.414214  18.0  18.00  18.0  20.00
tiburon                  7.0  18.285714  1.603567  16.0  17.00  19.0  19.50
toyota tacoma 4wd        7.0  15.571429  0.786796  15.0  15.00  15.0  16.00


                         max
model
4runner 4wd             16.0
a4                      21.0
a4 quattro              20.0
a6 quattro              17.0
altima                  23.0
c1500 suburban 2wd      14.0
camry                   21.0
camry solara            22.0
caravan 2wd             18.0
civic                   28.0
corolla                 28.0
corvette                16.0
dakota pickup 4wd       15.0
durango 4wd             13.0
expedition 2wd          12.0
explorer 4wd            15.0
f150 pickup 4wd         14.0
forester awd            20.0
grand cherokee 4wd      17.0
grand prix              18.0
gti                     22.0
impreza awd             21.0
jetta                   33.0
k1500 tahoe 4wd         14.0
land cruiser wagon 4wd  13.0
malibu                  22.0
maxima                  19.0
mountaineer 4wd         14.0
mustang                 18.0
navigator 2wd           12.0
new beetle              35.0
passat                  21.0
pathfinder 4wd          15.0
ram 1500 pickup 4wd     13.0
range rover             12.0
sonata                  21.0
tiburon                 20.0
toyota tacoma 4wd       17.0

In [17]:
df['model'].unique()

array(['a4', 'a4 quattro', 'a6 quattro', 'c1500 suburban 2wd', 'corvette',
       'k1500 tahoe 4wd', 'malibu', 'caravan 2wd', 'dakota pickup 4wd',
       'durango 4wd', 'ram 1500 pickup 4wd', 'expedition 2wd',
       'explorer 4wd', 'f150 pickup 4wd', 'mustang', 'civic', 'sonata',
       'tiburon', 'grand cherokee 4wd', 'range rover', 'navigator 2wd',
       'mountaineer 4wd', 'altima', 'maxima', 'pathfinder 4wd',
       'grand prix', 'forester awd', 'impreza awd', '4runner 4wd',
       'camry', 'camry solara', 'corolla', 'land cruiser wagon 4wd',
       'toyota tacoma 4wd', 'gti', 'jetta', 'new beetle', 'passat'],
      dtype=object)

In [20]:
ds_Exh_QC1 = pd.read_csv("C:/Users/hyang/Downloads/1_datasets/Exh_QC1.csv")
df = ds_Exh_QC1[['Flaws','Period']]

In [22]:
count = df['Flaws'].value_counts().sort_index()

#groupby('Flaws') #자동으로 정렬이 됩니다.
# df['flaw'] #자동으로 정렬이 안됩니다.

In [23]:
count

Other       6
Peel       15
Scratch    13
Smudge      6
Name: Flaws, dtype: int64

In [24]:
#cumsum : 누적합
cumcnt = np.cumsum(count)

In [25]:
cumcnt

Other       6
Peel       21
Scratch    34
Smudge     40
Name: Flaws, dtype: int64

In [26]:
percent = count/sum(count)*100
cumpct = np.cumsum(percent)

In [27]:
percent

Other      15.0
Peel       37.5
Scratch    32.5
Smudge     15.0
Name: Flaws, dtype: float64

In [28]:
cumpct

Other       15.0
Peel        52.5
Scratch     85.0
Smudge     100.0
Name: Flaws, dtype: float64

In [29]:
count_data = pd.DataFrame({'Count':count, 'CumCnt': cumcnt, 'Percent':percent,'CumPct':cumpct})

In [30]:
count_data

         Count  CumCnt  Percent  CumPct
Other        6       6     15.0    15.0
Peel        15      21     37.5    52.5
Scratch     13      34     32.5    85.0
Smudge       6      40     15.0   100.0

In [31]:
count_data.columns.name='Flaws'

In [32]:
count_data

Flaws    Count  CumCnt  Percent  CumPct
Other        6       6     15.0    15.0
Peel        15      21     37.5    52.5
Scratch     13      34     32.5    85.0
Smudge       6      40     15.0   100.0

In [33]:
count2=df['Period'].value_counts().sort_index()

In [34]:
count2

Day         7
Evening     7
Night      19
Weekend     7
Name: Period, dtype: int64

In [35]:
cumcnt2=np.cumsum(count2)
percent2=count2/sum(count2)*100
cumpct2=np.cumsum(percent2)
count_data2 = pd.DataFrame({'Count':count2, 'CumCnt':cumcnt2, 'Percent':percent2, 'CumPct':cumpct2})
count_data2.columns.name='Period'

In [36]:
count_data2

Period   Count  CumCnt  Percent  CumPct
Day          7       7     17.5    17.5
Evening      7      14     17.5    35.0
Night       19      33     47.5    82.5
Weekend      7      40     17.5   100.0